<div class="main">
<div class="timeline">
  <div class="entry">
    <div class="title">
      <h3>2014 - Present</h3>

    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illoVoluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2010 - Present</h3>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illoVoluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2009 - 2010</h3>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illoVoluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illoVoluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illoVoluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.

        Rerum sit libero possimus amet excepturi
        Exercitationem enim dolores sunt praesentium dolorum praesentium
        Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>Voluptatibus veniam ea reprehenderit atque reiciendis </h3>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
